--extra-index-url https://download.pytorch.org/whl/cu126

torch==2.12.1+cu126
torchvision==0.27.1+cu126
torchcodec==0.14.0

numpy==2.4.4
pandas==3.0.3
scikit-learn==1.9.0
scipy==1.18.0

tqdm==4.68.3
optuna==4.9.0
tensorboard==2.21.0
torchinfo==1.8.0

pillow==12.2.0
matplotlib

requests==2.34.2
PyYAML==6.0.3
