opencv_python==5.0.0.93
optuna==4.8.0
torch==2.12.0
torch-audioset @ git+https://github.com/w-hc/torch_audioset.git@daed697ddcd1d2f7304cc3c2b1b4295ac7e304e4 
torchcodec==0.13.0
torchinfo==1.8.0
torchvision==0.27.0
tqdm==4.67.3
